/* текст по правому краю */
h1 {
	text-align: right;
}
/* текст по центру */
h2 {
	text-align: center;
}
/* поставил ширину таблицы 500 */
table {
	width: 500px;
}
/* поставить заголовкам таблиц текст по левому краю  */
th {
	text-align: left;
}
/* поставил таблице центрирование */
td {
	text-align: center;
}
/* поставил абзацам ширину 300 */
p {
	width: 300px;
}
/* поставил абзацам выранивание по левому и по правому краю */
p {
	text-align: justify;
}
/* установил заголовкам ширину 300 и поставил центрирование (центрирование происходит внутри ширины 300 px */
h2 {
	width: 300px;
	text-align: center;
}